<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { userUserStore } from "../../stores/user";
const userStore = userUserStore();
const form = ref<VForm | null>(null);

async function saveUser() {
  const { valid } = await form.value!.validate();
  if (valid) {
    userStore.dialog = false;
    userStore.clear();
  }
}
function clearUser() {
  userStore.dialog = false;
  userStore.clear();
}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="userStore.dialog" persistent>
      <template v-slot:activator="{ props }">
        <v-btn color="primary" v-bind="props"> Open Dialog </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">User Profile</span>
        </v-card-title>
        <v-card-text
          ><v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Login*"
                    v-model="userStore.editedUser.login"
                    :rules="[
                      (v) => !!v || 'Login is require',
                      (v) => v.length >= 5 || 'Login is must have 5 characters',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Name"
                    v-model="userStore.editedUser.name"
                    :rules="[
                      (v) => !!v || 'Name is require',
                      (v) => v.length >= 5 || 'Name is must have 5 characters',
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Password*"
                    type="password"
                    v-model="userStore.editedUser.password"
                    :rules="[
                      (v) => !!v || 'Password is require',
                      (v) =>
                        v.length >= 8 || 'Password is must have 8 characters',
                      (v) =>
                        /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$/.test(
                          v
                        ) ||
                        'Password is must have 1 big letter 8 characters and speacial character',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
              </v-row> </v-container
          ></v-form>

          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clearUser()">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="saveUser()">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>
