<script setup lang="ts">
import { userUserStore } from "../../stores/user";
import { mdiDelete, mdiPencil, mdiPlus } from "@mdi/js";
import type User from "@/types/User";
const userStore = userUserStore();

function deleteUser(index: number): void {
  userStore.deleteUser(index);
}
function addUser() {
  userStore.dialog = true;
}

function editUser(user: User) {
  userStore.editUser(user);
  userStore.dialog = true;
}
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="3" offset="9">
        <v-btn color="teal" :prepend-icon="mdiPlus" @click="addUser()"
          >Add new</v-btn
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table>
          <thead>
            <tr>
              <th>ID</th>
              <th>login</th>
              <th>name</th>
              <th>password</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of userStore.users" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.login }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.password }}</td>
              <td>
                <v-btn
                  :icon="mdiPencil"
                  color="warning"
                  @click="editUser(item)"
                ></v-btn
                ><v-btn
                  :icon="mdiDelete"
                  color="error"
                  @click="deleteUser(item.id)"
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table> </v-col
    ></v-row>
  </v-container>
</template>

<style scoped>
.v-btn {
  margin: 10px 10px;
}
</style>
